@media screen and (max-device-width:700px){

p{
  font-size: 0.7em;
}



}

.fondoInicio {
  background-image: url("../images/fondoIni.jpg");
  height: 606px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nosotros_fondo {
  background-image: url("../images/mclaren1.jpg");
  height: 450px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.fondoContacto {
  background-image: url("../images/imagenfondomedio.jpg");
  height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.tituloCategoria {
  text-align: center;
}

.Imagen_Auto {
  width: 100%;
}

.hover_div_categoria:hover {
  background-color: rgba(224, 215, 195, 0.68);
}

.texto_Nosotros {
  background-color: white;
  padding: 2px;
  text-align: justify;
}

.headerContacto {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.paginaContactoHeader {
  text-align: center;
  color: rgb(87, 87, 87);
  margin-top: 1.5%;
}

.bodyContacto {
  margin-top: 2%;
  clear: both;

}

.margenBotonEnviarFormulario {
  margin-left: 40%;
}

.fuenteContactoInformacion {
  font-size: 1.1em;
  font-weight: bold;
}
